# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
hardware/*.000
hardware/*.bak
hardware/*.bck
hardware/*.kicad_pcb-bak
hardware/*.kicakf_sch-bak
hardware/*~
hardware/_autosave-*
hardware/_saved_*
hardware/*.tmp
hardware/*-save.pro
hardware/*-save.kicad_pcb
hardware/fp-info-cache

hardware/*-backups
hardware/*.kicad_prl

# Netlist files (exported from Eeschema)
hardware/*.net

# Autorouter files (exported from Pcbnew)
hardware/*.dsn
hardware/*.ses

# Exported BOM files
hardware/*.xml
hardware/*.csv
hardware/*.csv.tmp

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# mkdocs
site/

#TODO: Add CPP / Arduino ignores
*.log
#auto_saved_files#
.vscode/
diagrams/*.bkp
hardware/#auto_saved_files#
hardware/STR-21-007-SLAChamberHeater_AR-Check.txt
